.property-showcase-card {
    display: flex;
    flex-direction: column;
    text-align: center; 
    padding: 20px;
    padding-top: 0;
    padding-bottom: 30px;
    background-color: var(--color-white);
    margin-bottom: 1.75em;
    box-shadow: 0 4px 4px 1px rgba(0,0,0,.4);

}

.property-showcase-card__text {
    font-size: 26px;
    font-weight: 100;
    justify-self: center;
    padding: 10px;
    color: var(--color-sea-green);
}