:root {
    --color-white: #ffffff;
    --opaque-white-85: rgba(255, 255, 255, .85);
    --color-black: #000000;
    --color-eggshell-white: #E3EBF8;
    --color-sea-green: #0F807C;
    --color-dark-cyan: #054D4A;
    --color-foam-green: #85D6CD;
    --color-text-dark-grey: #2E3033;
    --color-light-cream-white: #E1D9D1;
    --color-sold-red: #CD4036;
}