.sell-your-home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-light-cream-white);
    padding: 1.6rem;
    padding-bottom: 0;
}