.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 95px;
    background-color: var(--opaque-white-85);
    box-shadow: 0 4px 15px 6px rgba(0,0,0,.8);
    
        
    &__logo-container {
        display: flex;
        align-items: center;
        margin-left: 4%;
        height: 100%;
    }

    &__spacer {
        flex-grow: 1;
    }

    &__contact-icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .35em;
        width: 16%;
        transform: scale(1.15);
    }

    &__hamburger-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 18%;
        background-color: var(--color-foam-green);
        border-left: 1px solid rgba(0,0,0,.35);
    }

    &__hamburger {

        &:hover {
            cursor: pointer;
        }
    }
}

.menu {
    // width and right must be the same
    width: 50%;
    right: 50%;
    top: 0;
    position: fixed;
    background-color: var(--color-dark-cyan);        
    height: 100%;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(100%);
    z-index: 1;

    &__close {
        color: var(--color-light-cream-white);
        font-size: 1.4rem;
        padding: 2rem 1rem 0 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 2rem 0 0 0;

        li {
            width: 100%;
            font-size: 1.5rem;
            text-decoration: none;
            padding: 0rem 0 0.6rem 0;
            color: var(--color-light-cream-white);
            background-color: transparent;
            border: none;
        }
    }

    &__link {
        display: block;
        width: 100%;
        color: var(--color-light-cream-white);
        text-align: right;
        padding: .4rem 1rem .4rem 0;
        box-sizing: border-box;

        &:active {
            background-color: var(--color-sea-green);
        }
    }
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
    backdrop-filter: blur(100px);
}

// Applied to the Outlet and Footer of page
.blur {
    filter: blur(5px);
    pointer-events: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
